//Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

//colors
//$dark : #560319;

$dark : #4C0707;
// $accent: #FFBA08;
$accent: #D8AF54;
$accent-hover: #f19e32;
$white: #fff;
//$footer-bg: #2F0303;
$footer-bg: #3f0909;
$placeholder-color: #BEBEBE;
$privacy: #E7E7E7;

//Media

$tablet: 959px;
$tablet_m: 800px;
$mobile: 649px;
$mobile_l: 560px;
$mobile_m: 480px;
$mobile_s: 360px;